.u-section-1 .u-sheet-1 {
  min-height: 288px;
}

.u-section-1 .u-text-1 {
  margin: 216px auto 23px;
} .u-section-2 {
  background-image: url("images/b51a507f95deab60ed318ccd07857dea677037572cb5f7e686535a7ed2c59c24bc0b206fa166e44acf50093fc481a6da936cff938dcd048074164d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 756px;
}

.u-section-2 .u-slider-1 {
  min-height: 626px;
  width: 1018px;
  margin: 60px auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -20px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/c7c962a5d42a9828f32825bbc0c519fa345a0f09fd05e91a39dd001218b6cd8710c36717f38dc15da95de9ad8c6ae4d48afd7702109b3ad7ef0df6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 21px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 408px 30px 0 471px;
}

.u-section-2 .u-text-2 {
  margin: 17px 61px 0 auto;
}

.u-section-2 .u-image-2 {
  background-image: url("images/2ae7f2c02e56b372bd11e44ba339fd5dd370f5caf5da5bc0312c432671ff963ecfc0a22e0a7ad1f7aedb2db5792048f18decec1ace0180d448d253_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 52px 22px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 348px auto 0 15px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 7px auto 0 15px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/ac45b5b55f848832fb30ec3a8e62c3bd78eba293b41ecb7b7af3a99242524892228a7eb9263003af41d028813a294af2853278be6cea9478093d58_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  margin: 381px auto 0 7px;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 7px auto 0 7px;
}

.u-section-2 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  background-image: none;
  left: -50px;
  position: absolute;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -50px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-2 .u-slider-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 301px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 81px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-2 .u-slider-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-2 .u-slider-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 116px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  width: 242px;
  margin: 18px auto 22px;
} .u-section-4 {
  background-image: url("images/a430d3d89197ccfc4216a00ca2f4da402f2610f8fdc4de4cf5f7da58fda6b3a2d39586cc847fd4533cbc7b16eeeb1821af838e1c8721d6ae923d66_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 868px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1044px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 868px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 868px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: 330px;
  width: 270px;
  box-shadow: 6px 6px 15px 5px rgba(128,128,128,0.85);
  margin: 69px auto 0 -171px;
}

.u-section-4 .u-image-2 {
  width: 270px;
  height: 330px;
  box-shadow: 6px 6px 15px 5px rgba(128,128,128,0.85);
  margin: 89px auto 0 -69px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 468px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 60px;
  width: 60px;
  margin: 65px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 468px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 22px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 65px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 20px 8px 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 40px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 782px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 782px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 421px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 421px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 360px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1531px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1331px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1331px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4411px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 2139px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1872px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    order: 1;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-6 {
    order: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2926px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1347px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1179px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 116px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 20px auto;
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/ff.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 1030px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1108px;
  margin: 80px 0 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-group-1 {
  min-height: 705px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 2.625rem;
  text-align: left;
  margin: -2px 154px 0 12px;
}

.u-section-6 .u-text-2 {
  font-size: 0.875rem;
  text-align: left;
  margin: 11px 96px 0 12px;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  margin: 44px 44px 0 12px;
}

.u-section-6 .u-text-4 {
  font-size: 1rem;
  background-image: none;
  text-align: left;
  margin: 25px 44px 0 12px;
}

.u-section-6 .u-image-1 {
  width: 640px;
  height: 640px;
  background-image: url("images/10df62e47cd6462f3bee44d0ad72512bc52a8a73280705d2ae73ee566837a8112f131a8b16ac0ae86ee0f6bacdc1ec8e05166dd0a0fceec5abbba7_1280.jpg");
  background-position: 50% 50%;
  text-align: left;
  margin: -619px auto 0 -12px;
}

.u-section-6 .u-link-1 {
  font-weight: 700;
  text-align: left;
  margin: 11px auto 0 12px;
}

.u-section-6 .u-image-2 {
  min-height: 723px;
  background-image: url("images/683db727414c9816f362891c5ffc86ffd238e224181f2c3a6ae4eceb00cd9be8adb1fc329bcb8c7e6e50708a50d993dbc253d891e85013f789c407_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  box-shadow: 15px 17px 17px 4px rgba(128,128,128,0.55);
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 0% 0%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 613px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 88px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 30px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 439px;
    height: 439px;
    margin-left: 0;
  }

  .u-section-6 .u-link-1 {
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    min-height: 613px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-6 .u-group-1 {
    margin-bottom: -92px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 336px;
    height: 336px;
  }

  .u-section-6 .u-image-2 {
    min-height: 470px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 722px;
  }

  .u-section-6 .u-group-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-image-2 {
    min-height: 532px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-6 .u-group-1 {
    margin-bottom: -86px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-image-2 {
    min-height: 335px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 116px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 20px auto;
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/pexels-photo-5990678.jpeg");
  background-position: 50% 100%;
  min-height: 1161px;
}

.u-section-8 .u-text-1 {
  font-size: 3.77778rem;
  width: 740px;
  margin: 48px auto 0;
}

.u-section-8 .u-text-2 {
  width: 740px;
  margin: 20px auto 0;
}

.u-section-8 .u-shape-1 {
  height: 290px;
  margin-top: 450px;
  margin-bottom: 0;
}

.u-section-8 .u-list-1 {
  width: 1140px;
  margin: -697px auto 48px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
  min-height: 886px;
  grid-gap: 18px 18px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  width: 199px;
  height: 186px;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 2px 0;
}

.u-section-8 .u-text-4 {
  font-size: 0.888889rem;
  font-style: italic;
  margin: 20px 4px 0 0;
}

.u-section-8 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  width: 199px;
  height: 186px;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 2px 0;
}

.u-section-8 .u-text-6 {
  font-size: 0.888889rem;
  font-style: italic;
  margin: 20px 4px 0 0;
}

.u-section-8 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  width: 199px;
  height: 186px;
  margin: 0 auto;
}

.u-section-8 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px 2px 0;
}

.u-section-8 .u-text-8 {
  font-size: 0.888889rem;
  font-style: italic;
  margin: 20px 4px 0 0;
}

.u-section-8 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-image-4 {
  width: 199px;
  height: 186px;
  margin: 0 auto;
}

.u-section-8 .u-text-9 {
  font-size: 1.25rem;
  margin: 20px 2px 0;
}

.u-section-8 .u-text-10 {
  font-size: 0.888889rem;
  font-style: italic;
  margin: 20px 4px 0 0;
}

.u-section-8 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-image-5 {
  width: 199px;
  height: 186px;
  margin: 0 auto;
}

.u-section-8 .u-text-11 {
  font-size: 1.25rem;
  margin: 20px 2px 0;
}

.u-section-8 .u-text-12 {
  font-size: 0.888889rem;
  font-style: italic;
  margin: 20px 4px 0 0;
}

.u-section-8 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px;
}

.u-section-8 .u-image-6 {
  width: 199px;
  height: 186px;
  margin: 0 auto;
}

.u-section-8 .u-text-13 {
  font-size: 1.25rem;
  margin: 20px 2px 0;
}

.u-section-8 .u-text-14 {
  font-size: 0.888889rem;
  font-style: italic;
  margin: 20px 4px 0 0;
}

.u-section-8 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-7 {
  padding: 30px;
}

.u-section-8 .u-image-7 {
  width: 199px;
  height: 186px;
  margin: 0 auto;
}

.u-section-8 .u-text-15 {
  font-size: 1.25rem;
  margin: 20px 2px 0;
}

.u-section-8 .u-text-16 {
  font-size: 0.888889rem;
  font-style: italic;
  margin: 20px 4px 0 0;
}

.u-section-8 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-8 {
  padding: 30px;
}

.u-section-8 .u-image-8 {
  width: 199px;
  height: 186px;
  margin: 0 auto;
}

.u-section-8 .u-text-17 {
  font-size: 1.25rem;
  margin: 20px 2px 0;
}

.u-section-8 .u-text-18 {
  font-size: 0.888889rem;
  font-style: italic;
  margin: 20px 4px 0 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 957px;
  }

  .u-section-8 .u-text-1 {
    width: 800px;
  }

  .u-section-8 .u-list-1 {
    width: 940px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 13.5px));
    min-height: 731px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-1 {
    width: 175px;
    height: 175px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-2 {
    width: 175px;
    height: 175px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-6 {
    margin-right: 0;
    width: auto;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-3 {
    width: 175px;
    height: 175px;
  }

  .u-section-8 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-8 {
    margin-right: 0;
    width: auto;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-4 {
    width: 175px;
    height: 175px;
  }

  .u-section-8 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-10 {
    margin-right: 0;
    width: auto;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-5 {
    width: 175px;
    height: 175px;
  }

  .u-section-8 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-12 {
    margin-right: 0;
    width: auto;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-6 {
    width: 175px;
    height: 175px;
  }

  .u-section-8 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-14 {
    margin-right: 0;
    width: auto;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-7 {
    width: 175px;
    height: 175px;
  }

  .u-section-8 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-16 {
    margin-right: 0;
    width: auto;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-8 {
    width: 175px;
    height: 175px;
  }

  .u-section-8 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-18 {
    margin-right: 0;
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 733px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
  }

  .u-section-8 .u-list-1 {
    width: 720px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9px));
    min-height: 2240px;
  }

  .u-section-8 .u-image-1 {
    width: 279px;
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-8 .u-image-2 {
    width: 279px;
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-image-3 {
    width: 279px;
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-image-4 {
    width: 279px;
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-image-5 {
    width: 279px;
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-image-6 {
    width: 279px;
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-image-7 {
    width: 279px;
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-image-8 {
    width: 279px;
    height: 220px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 550px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-shape-1 {
    height: 865px;
  }

  .u-section-8 .u-list-1 {
    width: 540px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 1883px;
  }

  .u-section-8 .u-image-1 {
    width: 210px;
    height: 198px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-image-2 {
    width: 210px;
    height: 198px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-image-3 {
    width: 210px;
    height: 198px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-image-4 {
    width: 210px;
    height: 198px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-image-5 {
    width: 210px;
    height: 198px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-image-6 {
    width: 210px;
    height: 198px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-image-7 {
    width: 210px;
    height: 198px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-image-8 {
    width: 210px;
    height: 198px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 346px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-shape-1 {
    height: 1870px;
  }

  .u-section-8 .u-list-1 {
    width: 340px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-1 {
    width: 263px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-2 {
    width: 263px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-3 {
    width: 263px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-4 {
    width: 263px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-5 {
    width: 263px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-6 {
    width: 263px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-7 {
    width: 263px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-8 {
    width: 263px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 116px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 20px auto;
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 775px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 2.625rem;
  margin: 63px auto 0 20px;
}

.u-section-10 .u-text-2 {
  margin: 20px 440px 0 20px;
}

.u-section-10 .u-map-1 {
  height: 368px;
  margin: 27px auto 0 0;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 158px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-10 .u-text-3 {
  margin: 0;
}

.u-section-10 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 183px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 59px;
}

.u-section-10 .u-text-5 {
  margin: 0 1px;
}

.u-section-10 .u-text-6 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 130px;
  }

  .u-section-10 .u-text-2 {
    width: 680px;
    margin-right: 240px;
  }

  .u-section-10 .u-map-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 151px;
  }

  .u-section-10 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 20px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 20px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-10 .u-text-2 {
    width: 340px;
  }
}